@media (min-width: 1000px){
    /* header */

    .header {
        display: grid;
        grid-template-columns: 170px 1fr 1fr;
        gap: 10px;
    }

    .logo img {
        grid-column: 1 / 2;
        width: 150px;
    }

    header h1 {
        grid-column: 2 / 3;
        font-size: 35px;
    }

    header nav {
        grid-column: 3 / 4;
    }

    /*navigation bar*/
    #menu {
        display: none;
    }

    nav.navigation {
        display: flex;
        justify-content: flex-end;
        background-color: transparent;
        padding: 0;
        margin-top: -100px;
        height: 100px;
        align-items: center;
    }

    .navlist {
        background-color: transparent !important;
        display: flex !important;
        flex-direction: row;
        gap:2rem;
        margin-right: 10px;
        padding: 10px;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
    }

    .navlist li {
        border: none;
    }

    .navlist li a {
        border: none;
        padding: 10px 0;
        font-size: 25px;
    }


   /*cards section grid*/
    .cards.grid-view {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: auto;
    }
    
}