@media (min-width: 1000px) {

    /* header */

    .header {
        display: grid;
        grid-template-columns: 170px 1fr 1fr;
        gap: 10px;
    }

    .logo img {
        grid-column: 1 / 2;
        width: 150px;
    }

    header h1 {
        grid-column: 2 / 3;
        font-size: 35px;
    }

    header nav {
        grid-column: 3 / 4;
    }

    /*navigation bar*/
    #menu {
        display: none;
    }

    nav.navigation {
        display: flex;
        justify-content: flex-end;
        background-color: transparent;
        padding: 0;
        margin-top: -100px;
        height: 100px;
        align-items: center;
    }

    .navlist {
        background-color: transparent !important;
        display: flex !important;
        flex-direction: row;
        gap: 2rem;
        margin-right: 10px;
        padding: 10px;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
    }

    .navlist li {
        border: none;
    }

    .navlist li a {
        border: none;
        padding: 10px 0;
        font-size: 25px;
    }



    /* form section*/
    main {
        display: flex;
        padding: 40px 80px;
        justify-content: space-between;
        gap: 20px;
    }

    form {
        flex: 45%;
        padding: 1rem;
    }

    section {
        flex: 45%;
        padding: 2rem;
    }



    /*membership types section*/



    /*footer section*/
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .footer1 {
        grid-column: 1 / 2;
        align-items: center;
        margin: 0 2px;
    }

    .media-links {
        grid-column: 2 / 3;
        align-items: center;
        margin: 0 2px;
    }

    .footer3 {
        grid-column: 3 / 4;
        align-items: center;
        margin: 0 2px;
    }
}