/*form section*/
form {
    border: 2px solid #4a5e4a;
    margin: .5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    padding: 1rem;
    font-size: 14px;
}

input[type=text],
input[type=tel],
input[type=email],
select,
textarea {
    display: block;
    padding: 8px;
    border: 1px solid black;
    border-radius: .5rem;
    font-size: 14px;
    color: rgb(65, 65, 65);
    width: 80%;
}

input[type=submit] {
    border: 1px solid #4a5e4a;
    text-align: center;
    background-color: rgb(251, 251, 199);
    border-radius: 2rem;
    padding: .5rem;
    margin: 10px 1rem;
    width: 80%;
    font-size: 16px;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

input[type=submit]:hover {
    background-color: rgb(178, 178, 129);
}

/*age section*/
#ages {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    height: auto;
}

#ages div {
    width: 80%;
    margin: 1rem 10% 15px 10%;
    background-color: #4a5e4a;
    border: 2px solid rgb(251, 251, 199);
    color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#young,
#middle,
#old,
#private {
    background-color: rgb(251, 251, 199);
    color: black;
    padding: .2rem;
    width: 40%;
    margin: .5rem auto;
    border-radius: 1rem;
}

#young:hover,
#middle:hover,
#old:hover,
#private:hover {
    background-color: rgb(178, 178, 129);
    color: black;
}

h3 {
    text-align: center;
}