main {
    display: flex;
    justify-content: center;
}

#results {
    background-color: lightgrey;
    color: black;
    border: 5px solid #4a5e4a;
    padding: 1rem;
    margin: 10px;
    border-radius: 2rem;
    max-width: 600px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, .25) ;
}

#results p {
    font-size: 18px;
    text-align: center;
    padding: .5rem;
}